<div id="manage_photos_text">
   <p>You've taken some killer photos and want to make sure the world knows, right?
                    </br>Follow these guidelines for maximum visibility:</p>

    <p style="margin-bottom: 15px; margin-top: 15px; font-size: 14px;">
        <span style="font-size: 16px; font-weight: 700; color: #3a3c3d">
            1. Tag ALL photos.
        </span>
        This is paramount. Without tags, your photos stand little chance of being seen.
    </p>
    <ul style="margin-left:20px;" class="steps">
        <li style="margin-top: 5px;">
            <strong>Step I.</strong>
            Select the country and park this photo was taken in.
            Without this, your photos won't appear on these pages of YAS.
        </li>
        <li style="margin-top: 5px;">
            <strong>Step II.</strong>Let us know what animals are
            in the photo by ticking the relevant box(es). This is
            incredibly useful for site searches.
        </li>
    </ul>
    <p style="margin-top: 15px;">
        <span style="color:#f00">Note</span>: Do not tag animals that are not in the photo.
        Photos that abuse the tags may be removed.
    </p>

    <p style="margin-bottom: 15px; margin-top: 15px; font-size: 14px;">
        <span style="font-size: 16px; font-weight: 700; color: #3a3c3d">
            2. Caption:
        </span>
        Make your caption short and descriptive.
    </p>

    <p>
        An example would be '<i>Lion cubs in Serengeti, Tanzania.</i>'
        This caption is SEO-friendly and will help draw more traffic to your photo.
        Captions such as '<i>Look at these full bellies</i>' won't get much traction as they are not descriptive.
    </p>

    <p style="margin-bottom: 15px; margin-top: 15px; font-size: 14px;">
        <span style="font-size: 16px; font-weight: 700; color: #3a3c3d">
            3. All posted photos must meet these requirements:
        </span>
        <ul style="margin-left:20px;">
            <li style="margin-top: 5px;">
                <strong>Original</strong> -
                No images that were not taken by you. No images that infringe on
                any copyright, trademark, or other legal property right.
            </li>
            <li style="margin-top: 5px;">
                <strong>Relevant to other travelers</strong> -
                No photos, images, or materials that have no relevance to the
                accommodation, attraction, restaurant, location, or general travel
                experiences.
            </li>
            <li style="margin-top: 5px;">
                <strong>Non-commercial</strong> - No photos such as logos, titles,
                branding, brochures, promotional material, or any other content
                intended for commercial purposes.
            </li>
        </ul>
    </p>

    <p style="margin-bottom: 15px; margin-top: 15px; font-size: 14px;">
        <span style="color:#f00">Note</span>: Any and all photos that
        do not meet the above guidelines will not be posted or will be removed.
    </p>

    <p style="margin-bottom: 15px; margin-top: 15px; font-size: 14px;">
        Please note that by uploading photos, you grant <strong>Your African Safari, YAS,</strong>,
        the non-exclusive rights to use and display these photos at
        our discretion.
    </p>
</div>


