{% load static %}
<div class="row justify-content-between ">
    <div class="col">
        <h1 class="h1-sm">
            <strong>{{ tour.name }}</strong>
        </h1>
        <div class="mb-2 mb-sm-0">
          <span data-toggle="popover" data-trigger="hover" data-content="{{ tour.average_rating | floatformat:2 }} / 5.00" data-placement="bottom">
            {{ tour.average_rating | star_rating | safe }}
            <span class="font-weight-light font-11 text-light-grey pl-1 ">
                <span>{{ tour.reviews_count }}</span>
                review{{ tour.reviews_count | pluralize }}
            </span>
          </span>
        </div>

    </div>    

</div>