<div class="main-panel">
  <!-- NAVBAR -->
  <nav class="navbar-admin navbar-expand-lg ">
    <div class="container-fluid">
      <div class="navbar-wrapper ">
        <div class="navbar-minimize">
          <!--<button id="minimizeSidebar" class="btn-admin btn-warning btn-fill btn-round btn-icon d-none d-lg-block">
                <i class="fa-admin fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                <i class="fa-admin fa-navicon visible-on-sidebar-mini"></i>
              </button>-->
        </div>
        <span class="navbar-brand ml-3">{{ display_name }}</span>
      </div>
      <button class="navbar-toggler navbar-toggler-right mr-4" type="button" data-toggle="collapse"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">

        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <span class="nav-link">
              <a href="{% url 'backend:admin' %}">
                Dashboard
              </a>
              |
              <a target="_blank" href="{% url 'admin:index' %}">
                Django admin  
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->