<div class="alert alert-warning alert-dismissible fade show container-fluid px-2 px-sm-4" role="alert" id="cookie-alert">
    <div class="row max-width">
        <div class="col-sm-11 col-12 py-0">
            Your African Safari uses cookies to improve functionality and performance of this site. More information can
            be
            found in our
            <a target="_blank" href="{% url 'privacy-policy' %}">privacy policy.</a>
            By continuing to browse this site, you consent to the use of cookies.
        </div>
        <div class="col-sm-1 col-12 my-auto pt-2 text-center">
            <a type="button" class="close_cookie btn btn-orange btn-md" 
                href="#" aria-label="Close">
                OK
            </a>
        </div>
    </div>
</div>