{% extends 'core/base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %} {{ object }} {% endblock %}

{% block extrahead %}

{% include 'places/country_index_inserts/country_meta.html' %}

<script defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>
<script defer src="{% static '@google/markerwithlabel/src/markerwithlabel_packed.js' %}"></script>
<link href="{% static 'places/css/country-index.css' %}" type="text/css" media="all" rel="stylesheet">
<script src="{% static 'places/js/country-index.js' %}"></script>
{% endblock %}

{% block content %}

{% include 'places/country_index_inserts/header.html' %}

<div class="container-fluid px-lg-5 max-width mt-4 mx-auto">
  <div class="row px-md-5 px-2 justify-content-between">
    <div class="col-md col-sm-12">
      <h1 class="h1-sm">
        <strong>{{ object|safe }}</strong>
      </h1>
      <!--This needs to be changed to the subheading beneath each country name-->
      <h5 class="h5-sm">
        {{ object.one_line_summary }}
      </h5>
      <!--End comment-->
    </div>


    {% include 'places/country_index_inserts/social_media.html' %}


    <div class="row justify-content-between mt-3 mx-0">
      <div class="col-xl-8 pr-xl-5 col-lg-12">

        <div class="tour-tab tab clearfix">
          <ul class="tabs">
            <a class="about" href="{% url 'country_index' object.slug %}">
              <li class="active">About</li>
            </a>
            <a class="parks" href="{% url 'country_index_parks' object.slug %}">
              <li>Parks<em class="font-weight-light font-11"> ({{ object.parks.count }})</em></li>
            </a>
            <a class="touroperators" href="{% url 'country_index_getting_there' object.slug %}">
              <li>Getting there</li>
            </a>
          </ul>
        </div>

        <div class="contentbg border-grey pt-3 px-3">
          <h2 class="h2-sm">
            <strong>{{ object }} safari guide</strong>
          </h2>
          <div class="row pt-2 pr-2">
            <div class="col-12 col-md-6">
              <div class="pb-2 row align-items-center">
                <i class="fas fa-binoculars col-1 mr-2 "></i>
                <span class="mr-2">Companies: </span>
                <a href="{% url 'all_tour_operator_country' country=object.slug %}">{{ companies }}
                  operators</a>
              </div>
              <div class="pb-2 row align-items-center">
                <i class="fas fa-map col-1 mr-2"></i>
                <span class="mr-2">Tour packages: </span>
                <a href="{% url 'all_tour_packages_country' country=object.slug %}">{{ tours }}
                  tours</a>
              </div>
              <div class="pb-2 row align-items-center">
                <i class="fas fa-tree col-1 mr-2"></i>
                <span class="mr-2">Parks:</span>
                <a href="{% url 'country_index_parks' slug=object.slug %}">{{ parks }} parks</a>
              </div>

              <script>
                loadCurrencyPopover()
              </script>

              {% include 'places/country_index_inserts/currency_exchange.html' %}

              <div class="pb-2 row align-items-center">
                <i class="fas fa-money-bill-alt col-1 mr-2"></i>
                <span class="mr-2">Currency:</span>

                <a href="#" tabindex="0" data-toggle="currency-popover" data-trigger="focus"
                  data-popover-content="#currency-pop">{{ object.currency_name }}
                  ({{ object.currency_code }})</a>

              </div>
              <div class="pb-2 row align-items-center">
                <i class="fas fa-paw col-1 mr-2"></i>
                <span class="mr-2">Wildlife:</span>
                <a href="{% url 'country_index_wildlife' object.slug %}">
                  {{ animals_count }} animals listed
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="pb-2 row align-items-center">
                <i class="fab fa-font-awesome-flag col-1 mr-2"></i>
                <span class="mr-2">Capital:</span>
                <span href="#">{{ object.capital }}</span>
              </div>
              <div class="pb-2 row align-items-center">
                <i class="fas fa-users col-1 mr-2"></i>
                <span class="mr-2">Population:</span>
                <span href="#">{{ object.population }}</span>
              </div>
              <div class="pb-2 row">
                <i class="fas fa-globe-africa col-1 mr-2 pt-1"></i>
                <div class="col pl-0">
                  <span class="mr-2">Total area:</span>
                  <span href="#">{{ object.total_area }}</span>
                </div>
              </div>
              <div class="pb-2 row align-items-center flex-nowrap">
                <i class="fas fa-comment col-1 mr-2 align-self-baseline"></i>
                <span class="mr-2 align-self-baseline">Languages:</span>
                <span href="#">{{ object.languages.all|join:", " }}</span>
              </div>
              <div class="pb-2 row align-items-center flex-nowrap">
                <i class="fas fa-plane-departure col-1 mr-2 align-self-baseline"></i>
                <span class="mr-2 align-self-baseline">Airports:</span>
                <span href="#">{{ airports }} </span>
              </div>
            </div>
          </div>
          <hr class="mr-3">
          <div class="row">
            <div class="col-12 col-md-6 position-relative">
              <h4 class="text-dark-grey h4-sm pt-2">Recommended vaccinations</h4>
              <div class="row pt-2">

                <script>
                  loadVaccinationPopovers()
                </script>

                {% for vaccination in vaccinations_1 %}

                {% include 'places/country_index_inserts/vaccine_description.html' %}

                <div class="col">
                  <a href="#" tabindex="0" data-toggle="vaccine-popover" data-trigger="focus"
                    data-popover-content="#popup-vac-{{ vaccination.id }}">{{ vaccination }}</a>
                </div>

                {% endfor %}
              </div>
              <hr class="my-1 mr-3">
              <div class="row ">
                {% for vaccination in vaccinations_2 %}

                {% include 'places/country_index_inserts/vaccine_description.html' %}

                <div class="col">
                  <a href="#" tabindex="0" data-toggle="vaccine-popover" data-trigger="focus"
                    data-popover-content="#popup-vac-{{ vaccination.id }}">{{ vaccination }}</a>
                </div>

                {% endfor %}
              </div>
              <hr class="my-1 mr-3">
              <div class="row">
                {% for vaccination in vaccinations_3 %}

                {% include 'places/country_index_inserts/vaccine_description.html' %}

                <div class="col">
                  <a href="#" tabindex="0" data-toggle="vaccine-popover" data-trigger="focus"
                    data-popover-content="#popup-vac-{{ vaccination.id }}">{{ vaccination }}</a>
                </div>

                {% endfor %}
              </div>
            </div>
            <div class="col-12 col-md-6 row">
              <h4 class="text-dark-grey h4-sm pt-4 pt-md-2 col-12">Voltage and plug type</h4>
              {% for plug in object.plugs.all %}
              <div class="col-4">
                <img class="border border-grey shadow-sm" src="{{ plug.image.url }}">
                <p class="font-12 pt-1">{{ plug }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <h4 class="text-dark-grey h4-sm pt-4"><strong>About {{ object }}</strong></h4>
        {{ object.description | safe }}


        <div class="featured-top d-none">
          <!--Featured cards-->
          <section class="container-fluid p-0 mt-md-0 mt-4">
            <div class="d-flex row justify-content-around">
              <!--Featured Card 1-->
              <div class="card shadow-featured p-3 mb-5 mt-4 bg-white rounded mr-1 col-6 border border-featured"
                id="card-size-country">
                <div id="featured-card">
                  <div>
                    <div class="row">
                      <div class="col">
                        <div class="rounded border border-grey mx-auto" id="yasscore">
                          <p class="small pt-1 text-center font-weight-light text-light-grey font-11"
                            data-trigger="hover" data-toggle="popover" data-placement="bottom"
                            data-content="YAScore is a weighted average of 20 metrics including years in business, quality and quantity of reviews, and how quickly tour operator responds to quote requests.">
                            YAScore</br><span class="h4 font-weight-light dark-brown">91</span></p>
                        </div>
                      </div>
                      <div class="col container">
                        <img class="card-img-top rounded border border-featured mx-auto"
                          src="Icons/Africa natural tours.jpg" alt="company logo" id="operator-logo">
                      </div>
                      <div class="col text-center pointer">
                        <i onclick="heartChange(this)" class="far fa-heart" id="heart-TP-card"></i>
                      </div>
                    </div>
                  </div>
                  <div id="featured" class="d-none">
                    <div class="shadow-featured-banner ">
                      <div class="featured-banner align-items-center">
                        <p class="pt-2 text-center font-weight-bold">Featured</p>
                      </div>
                    </div>
                    <div class="shadow-respond-banner">
                      <div class="respond-banner-featured">
                        <div class="text-center" id="quick-respond">
                          <img src="Icons/Cheetah icon.png" />
                          <p class="text-center font-11 text-dark-grey">Quick to
                            respond</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center" id="operator-name">
                    <h4 class="mt-2 card-title col text-center font-weight-bold olive-green">
                      Above & Beyond Photographic
                      Tours and Safaris</h4>
                  </div>
                  <div class="text-center">
                    <span class="yellow font-h4">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                    <span class="font-weight-light font-11 text-light-grey">17 reviews</span>
                  </div>
                  <div class="container text-dark-grey mt-3">
                    <div class=" row align-items-center justify-content-center">
                      <i class="fas fa-home col-2 font-h3"></i>
                      <div class="col-5 font-weight-light font-12">
                        Luxury safaris
                      </div>
                    </div>
                    <div class="mt-2 row align-items-center justify-content-center">
                      <i class="fas fa-hiking col-2 font-h3"></i>
                      <div class="col-5 font-weight-light font-12">
                        16 tours
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 text-dark-grey font-12">
                    <div class="row">
                      <p class="font-weight-bold col-4">Operating in:</p>
                      <div class="col" id="flags">
                        <img src="Icons/Kenya flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="Kenya">
                        <img src="Icons/Rwanda flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="Rwanda">
                        <img src="Icons/South Africa flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="South Africa">
                        <img src="Icons/Tanzania flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="Tanzania">
                        <img src="Icons/Zambia flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="Zambia">
                        <img src="Icons/Zimbabwe flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="Zimbabwe">
                      </div>
                    </div>
                    <div class="row">
                      <p class="font-weight-bold col-4 pr-1">Headquarters:</p>
                      <div class="col align-middle" id="flags">
                        <img src="Icons/Tanzania flag" alt="country flag">
                        <span class="font-weight-light font-12">Tanzania</span>
                      </div>
                    </div>
                    <div class="row">
                      <p class="font-weight-bold col-4">Languages:</p>
                      <div class="col">
                        <span class="font-weight-light">English, French, Swahili</span>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <button class="btn btn-lg mx-auto px-4 py-3 btn-orange" type="submit">Get
                      quote
                    </button>
                  </div>
                </div>
              </div>
              <!--Featured Card 2-->
              <div class="card shadow-featured p-3 mb-5 mt-4 bg-white rounded  col-6 border border-featured"
                id="card-size-country">
                <div id="featured-card">
                  <div>
                    <div class="row">
                      <div class="col">
                        <div class="rounded border border-grey mx-auto" id="yasscore">
                          <p class="small pt-1 text-center font-weight-light text-light-grey font-11"
                            data-trigger="hover" data-toggle="popover" data-placement="bottom"
                            data-content="YAScore is a weighted average of 20 metrics including years in business, quality and quantity of reviews, and how quickly tour operator responds to quote requests.">
                            YAScore</br><span class="h4 font-weight-light dark-brown">91</span></p>
                        </div>
                      </div>
                      <div class="col container">
                        <img class="card-img-top rounded border border-featured mx-auto"
                          src="Icons/Africa natural tours.jpg" alt="company logo" id="operator-logo">
                      </div>
                      <div class="col text-center pointer">
                        <i onclick="heartChange(this)" class="far fa-heart" id="heart-TP-card"></i>
                      </div>
                    </div>
                  </div>
                  <div id="featured">
                    <div class="shadow-featured-banner ">
                      <div class="featured-banner align-items-center">
                        <p class="pt-2 text-center font-weight-bold">Featured</p>
                      </div>
                    </div>
                    <div class="shadow-respond-banner">
                      <div class="respond-banner-featured">
                        <div class="text-center" id="quick-respond">
                          <img src="Icons/Cheetah icon.png" />
                          <p class="text-center font-11 text-dark-grey">Quick to
                            respond</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center" id="operator-name">
                    <h4 class="mt-2 card-title col text-center font-weight-bold olive-green">
                      Above & Beyond Photographic
                      Tours and Safaris</h4>
                  </div>
                  <div class="text-center">
                    <span class="yellow font-h4">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                    <span class="font-weight-light font-11 text-light-grey">17 reviews</span>
                  </div>
                  <div class="container text-dark-grey mt-3">
                    <div class=" row align-items-center justify-content-center">
                      <i class="fas fa-home col-2 font-h3"></i>
                      <div class="col-5 font-weight-light font-12">
                        Luxury safaris
                      </div>
                    </div>
                    <div class="mt-2 row align-items-center justify-content-center">
                      <i class="fas fa-hiking col-2 font-h3"></i>
                      <div class="col-5 font-weight-light font-12">
                        16 tours
                      </div>
                    </div>
                  </div>
                  <div class="mt-4 text-dark-grey font-12">
                    <div class="row">
                      <p class="font-weight-bold col-4">Operating in:</p>
                      <div class="col" id="flags">
                        <img src="Icons/Kenya flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="Kenya">
                        <img src="Icons/Rwanda flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="Rwanda">
                        <img src="Icons/South Africa flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="South Africa">
                        <img src="Icons/Tanzania flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="Tanzania">
                        <img src="Icons/Zambia flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="Zambia">
                        <img src="Icons/Zimbabwe flag" alt="country flag" data-toggle="tooltip" data-placement="top"
                          title="Zimbabwe">
                      </div>
                    </div>
                    <div class="row">
                      <p class="font-weight-bold col-4 pr-1">Headquarters:</p>
                      <div class="col align-middle" id="flags">
                        <img src="Icons/Tanzania flag" alt="country flag">
                        <span class="font-weight-light font-12">Tanzania</span>
                      </div>
                    </div>
                    <div class="row">
                      <p class="font-weight-bold col-4">Languages:</p>
                      <div class="col">
                        <span class="font-weight-light">English, French, Swahili</span>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <button class="btn btn-lg mx-auto px-4 py-3 btn-orange" type="submit">Get
                      quote
                    </button>
                  </div>
                </div>
              </div>
          </section>
        </div>
      </div>

      <!--RHC-->
      {% include 'places/country_index_inserts/right_hand_sidebar.html' %}
    </div>
  </div>
</div>


{% endblock %}
{% block afterfooter %}


<script>
  $(document).ready(function () {
    $(".navbar-places").addClass("active");
  })
</script>




{% endblock %}