{% extends 'core/base.html' %}
{% block meta_itemprop_description %}
    Best places on safari to see lions, leopards, rhinos, elephants, buffalo, cheetah, the big five
{% endblock %}
{% block meta_description %}
    Best places on safari to see lions, leopards, rhinos, elephants, buffalo, cheetah, the big five
{% endblock %}
{% block meta_keywords %}
    Your African Safari, wildlife
{% endblock %}
{% block title %} {{ object }} Wildlife {% endblock %}
{% block content %}
    <div class="container-fluid px-md-5 max-width wildlife-page-height">
        <div class="row mt-5 px-md-5 px-2">
            <div class="col-md col-sm-12 ">
                <h1 class="h1-sm">
                    <strong>{{ object.name_short }} wildlife</strong>
                </h1>
                <div class="contentbg text-left">
                    Here are some of the animals found in {{ object.name }}
                </div>
                <div class="row mt-4">
                    {% for animal in animals %}
                        <!--start animal-->
                        <div class="col-lg-3 col-sm-6 col-xs-12 ">
                            <a href="{% url 'animal' slug=animal.slug %}">
                                <figure class="effect-sadie card animal mb-4 box-shadow">
                                    <img src="{{ animal.image.url }}" alt="{{ animal }}">
                                    <figcaption>
                                        <h2>{{ animal }}</h2>
                                        <p>{{ animal.mini_description | safe }}</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                        <!--end animal-->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(".navbar-places").addClass("active");
    </script>
{% endblock %}