{% extends 'core/base.html' %}

{% block meta_itemprop_description %}
African safari animals in Swahili
{% endblock %}
{% block meta_description %}
Swahili names for animals seen on safari. Top names include simba, tembo, chui, mbogo and kifaru, which are lion,
elephant, leopard, African buffalo and rhino, otherwise known as the big five!
{% endblock %}
{% block meta_keywords %}
Your African Safari, wildlife
{% endblock %}

{% block title %} African safari animals in Swahili {% endblock %}
{% block content %}
<div class="container-fluid px-md-5 max-width wildlife-page-height">
  <div class="row mt-5 px-md-5 px-2">
    <div class="col-md col-sm-12 ">
      <h1 class="h1-sm">
        <strong>African safari animals in Swahili</strong>
      </h1>
      <div class="contentbg text-left">

        <table class="table">
          <thead>
            <tr>
              <th>English</th>
              <th>Swahili</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Aardvark</td>
              <td>Mhanga</td>
            </tr>
            <tr>
              <td>African buffalo</td>
              <td>Mbogo (mmmbogo)</td>
            </tr>
            <tr>
              <td>Ant</td>
              <td>Siafu / sisimizi</td>
            </tr>
            <tr>
              <td>Baboon</td>
              <td>Nyani</td>
            </tr>
            <tr>
              <td>Bat-eared fox</td>
              <td>Mbweha masikio</td>
            </tr>
            <tr>
              <td>Bee</td>
              <td>Nyuki</td>
            </tr>
            <tr>
              <td>Bushbaby</td>
              <td>Komba</td>
            </tr>
            <tr>
              <td>Butterfly</td>
              <td>Kipepo</td>
            </tr>
            <tr>
              <td>Caracal</td>
              <td>Simbamangu</td>
            </tr>
            <tr>
              <td>Chameleon</td>
              <td>Kinyonga</td>
            </tr>
            <tr>
              <td>Cheetah</td>
              <td>Duma</td>
            </tr>
            <tr>
              <td>Civet</td>
              <td>Fungo</td>
            </tr>
            <tr>
              <td>Cobra</td>
              <td>Swila</td>
            </tr>
            <tr>
              <td>Colobus monkey</td>
              <td>Mbega</td>
            </tr>
            <tr>
              <td>Crocodile</td>
              <td>Mamba</td>
            </tr>
            <tr>
              <td>Deer / lechwe / antelope</td>
              <td>Paa</td>
            </tr>
            <tr>
              <td>Dik dik</td>
              <td>Digidigi</td>
            </tr>
            <tr>
              <td>Dung beetle</td>
              <td>Bungo</td>
            </tr>
            <tr>
              <td>Eagle</td>
              <td>Tai</td>
            </tr>
            <tr>
              <td>Eland</td>
              <td>Pofu</td>
            </tr>
            <tr>
              <td>Elephant</td>
              <td>Tembo / Ndovu</td>
            </tr>
            <tr>
              <td>Elephant shrew</td>
              <td>Sange</td>
            </tr>
            <tr>
              <td>Frog</td>
              <td>Chura</td>
            </tr>
            <tr>
              <td>Gazelle</td>
              <td>Swara</td>
            </tr>
            <tr>
              <td>Gemsbok</td>
              <td>Choroa</td>
            </tr>
            <tr>
              <td>Giraffe</td>
              <td>Twiga (tweega)</td>
            </tr>
            <tr>
              <td>Gorilla</td>
              <td>Sokwe</td>
            </tr>
            <tr>
              <td>Grant&#39;s Gazelle</td>
              <td>Swala Granti</td>
            </tr>
            <tr>
              <td>Ground squirrel</td>
              <td>Kindi</td>
            </tr>
            <tr>
              <td>Guinea fowl</td>
              <td>Kanga</td>
            </tr>
            <tr>
              <td>Hartebeest</td>
              <td>Kongoni</td>
            </tr>
            <tr>
              <td>Hawk</td>
              <td>Kipanga</td>
            </tr>
            <tr>
              <td>Hippo</td>
              <td>Kiboko</td>
            </tr>
            <tr>
              <td>Honey badger</td>
              <td>Nyegere</td>
            </tr>
            <tr>
              <td>Hyena</td>
              <td>Fisi (fee see)</td>
            </tr>
            <tr>
              <td>Impala</td>
              <td>Swala / pala</td>
            </tr>
            <tr>
              <td>Jackal</td>
              <td>Mbweha</td>
            </tr>
            <tr>
              <td>Kudu</td>
              <td>Tandala</td>
            </tr>
            <tr>
              <td>Leopard</td>
              <td>Chui (chewy)</td>
            </tr>
            <tr>
              <td>Leopard tortoise</td>
              <td>Kobe</td>
            </tr>
            <tr>
              <td>Lion</td>
              <td>Simba</td>
            </tr>
            <tr>
              <td>Lizard</td>
              <td>Mjusi</td>
            </tr>
            <tr>
              <td>Mongoose</td>
              <td>Nguchiro</td>
            </tr>
            <tr>
              <td>Monkey</td>
              <td>Tumbili</td>
            </tr>
            <tr>
              <td>Oryx</td>
              <td>Choroa</td>
            </tr>
            <tr>
              <td>Ostrich</td>
              <td>Mbuni</td>
            </tr>
            <tr>
              <td>Pangolin</td>
              <td>Kakakuona&nbsp;</td>
            </tr>
            <tr>
              <td>Porcupine</td>
              <td>Nungu&nbsp;nbsp;<span style="font-size: 13px;">/&nbsp;</span><span
                  style="font-size: 13px;">nungunungu</span></td>
            </tr>
            <tr>
              <td>Python</td>
              <td>Chatu</td>
            </tr>
            <tr>
              <td>Reedbuck</td>
              <td>Tohe</td>
            </tr>
            <tr>
              <td>Rhino</td>
              <td>Kifaru</td>
            </tr>
            <tr>
              <td>Sable</td>
              <td>Palahala / Mbarapi</td>
            </tr>
            <tr>
              <td>Serval</td>
              <td>Mondo</td>
            </tr>
            <tr>
              <td>Snake</td>
              <td>Nyoka</td>
            </tr>
            <tr>
              <td>Spider</td>
              <td>Buibui</td>
            </tr>
            <tr>
              <td>Steenbok</td>
              <td>Isha / dondoro / dondoo</td>
            </tr>
            <tr>
              <td>Terrapin</td>
              <td>Kasa</td>
            </tr>
            <tr>
              <td>Warthog</td>
              <td>Mbango</td>
            </tr>
            <tr>
              <td>Waterbuck</td>
              <td>Kuru / kuro / ndogoro</td>
            </tr>
            <tr>
              <td>Wild dog</td>
              <td>Mbwa mwitu</td>
            </tr>
            <tr>
              <td>Wildebeest</td>
              <td>Nyumbu /&nbsp;kongoni&nbsp;</td>
            </tr>
            <tr>
              <td>Zebra</td>
              <td>Punda milia</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
{% endblock %}