<div class="contentbg border-grey container-fluid mt-3">
    <div class="d-flex justify-content-between my-1 row">
        <h5 class="px-4 mt-2"><strong>
                <a class="dark-brown" href="{% url 'park' slug=park.slug%}">
                    {{ park }}
                </a></strong>
        </h5>
        <div class="pr-2 px-4">
            {{ park.average_rating | star_rating | safe }}
            <div class="font-11 text-light-grey justify-content-end d-sm-flex d-inline">2 reviews</div>
        </div>
    </div>
    <hr class="my-0 d-sm-block d-none">
    <div class="row">
        <a href="{% url 'park' slug=park.slug%}" class="col-sm-3 col-12">
          <div id="search-result-img">
            <img  class="d-block mx-auto " src="{{ park.image|thumbnail_url_:'search_card' }}" alt="{{park}}">
          </div>
        </a>
        <div class="col-sm-8 col-12 px-4 mt-2 ml-sm-2">
            <p class="mb-0">
                {{park.description | truncatechars_html:100 | striptags}}
                ... <a class="olive-green" href="{% url 'park' slug=park.slug%}">read more</a></p>
        </div>
    </div>
</div>