{% load thumbnail %}


<div class="contentbg border-grey container-fluid mt-3">
  <div class="d-flex justify-content-between my-1 row">
    <h5 class="px-4 mt-2">
      <strong>
        <a id="photo-link-{{ photo.id }}" class="dark-brown" href="#">
          {{ photo.caption }}
        </a>
      </strong></h5>
  </div>
  <hr class="my-0 d-sm-block d-none">
  <div class="row">
    <a id="photo_{{ photo.id }}" href="{{ photo.image.url }}" class="col-sm-3 col-12 gallery_a fresco"
      data-caption="{{ photo.get_description }}" data-index="{{ forloop.counter0 }}" class="gallery_a fresco"
      data-fresco-caption="{{ photo.get_description }}" data-fresco-id="{{ photo.id }}"
      data-fresco-photo-url="{{ photo.photo_url }}" data-fresco-title="{{ photo.title }}"
      data-fresco-kudu-count="{{ photo.kudu_count }}" data-fresco-options="ui: 'inside'"
      data-caption="{{ photo.get_description }}" data-index="{{ 1 }}" data-fresco-group="unique_name">
      <div id="search-result-img">
        <img class="d-block mx-auto" src="{{ photo.image|thumbnail_url_:'search_card' }}" alt="{{ photo.caption }}" >
      </div>
    </a>
    <div class="col-sm-8 col-12 mb-2 px-4 mt-2 ml-sm-2">
      <p>
        {{ photo.get_description | safe }}
      </p>
      <div class="row font-12">
        <p class="col">When: {{ photo.date_created|date:"N j, Y" }}</p>
      </div>
    </div>
  </div>
</div>