<div class="contentbg border-grey container-fluid mt-3">
  <div class="d-flex justify-content-between my-1 row">
    <h5 class="px-4 mt-2"><strong>
        <a class="dark-brown" href="{% url 'articles:view' article.slug %}">
          {{ article.title }}
        </a></strong>
    </h5>
  </div>
  <hr class="my-0 d-sm-block d-none">
  <div class="row">
    {% if article.image|thumbnail_url_:'crop_160_90' %}
    <a href="{% url 'articles:view' article.slug %}" class="col-sm-3 col-12">
      <div id="search-result-img">
        <img class="d-block mx-auto" src="{{ article.image|thumbnail_url_:'search_card' }}" alt="company logo">
      </div>
    </a>
    <div class="col-sm-8 col-12 mb-2 px-4 mt-2 ml-sm-2">
      <p>
        {{ article.content_no_script | striptags | truncatechars_html:150  }}
        <a class="olive-green" href="{% url 'articles:view' article.slug %}">read more</a></p>
      <div class="row font-12">
        <p class="col-6 mb-0">When: {{ article.date_created|date:'F' }} {{ article.date_created|date:'Y' }}</p>
        <p class="col mb-0">By: {{ article.user.profile }}</p>
      </div>
    </div>
    {% else %}
    <div class="col-12 mb-2 px-4 mt-2">
      <p>
        {{ article.content_no_script | striptags | truncatechars_html:150  }}
        <a class="olive-green" href="{% url 'articles:view' article.slug %}">read more</a></p>
      <div class="row font-12">
        <p class="col-6 mb-0">When: {{ article.date_created|date:'F' }} {{ article.date_created|date:'Y' }}</p>
        <p class="col mb-0">By: {{ article.user.profile }}</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>