<div class="search-box mobile-hide">
  <div class="wrap">
    <div class="g-top-form">
      <form action="/search" class="search-form">
        <div class="search-input">
          <input type="text" class="input-text autocomplite" placeholder="Let's go! Search by country, park or operator" name="q">
        </div>
      <input type="submit" class="search-button" value="Search">
      </form>
    <div class="aside-block">
      <a href="{% url 'reviews:create' %}" class="review-link btn">Write a review</a>
    </div>
    </div> 
  </div>
</div>
