<div class="col-md-9 col-sm-12">
  <div class="col-12 noresults text-center" v-show=no_results>
    Sorry, the search results you've tried to filter couldn't be found. Please try removing one or more filters and
    again
  </div>
  <div id="gallery" class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <template>
      <div class="vld-parent">
        <loading :active.sync="isLoading"></loading>
      </div>
    </template>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-sm-6 col-xs-1" v-for="(photo, index) in photos_json">
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a :data-width=photo.width class="gallery_a fresco" :data-height=photo.height :href=photo.image_url
            :data-fresco-caption=photo.get_description :data-fresco-id=photo.id :data-fresco-photo-url=photo.photo_url
            :data-fresco-title=photo.title :data-fresco-kudu-count=photo.kudu_count data-fresco-options="ui: 'inside'"
            :data-caption=photo.get_description :data-index=index target="_blank" data-fresco-group="unique_name">
            <div id="animal-img-wrapper">
              <div v-bind:style="{ backgroundImage: 'url(' + photo.thumbnail_url + ')' }"
                :data-photo_url=photo.thumbnail_url class="animal-photo img__wrap" :data-href=photo.image_url
                :data-caption=photo.get_description>
                <div class="img__description">
                  <strong v-html="photo.caption">
                  </strong>
                  <p v-html="photo.get_description">
                  </p>
                </div>
              </div>
            </div>
          </a>
        </figure>
      </div>
    </div>
    <div class="row" v-show=has_results>
      <div class="margin-auto">
        <paginate v-model="current_page" :page-count="page_count" :click-handler="changePage" :prev-text="'Prev'"
          :next-text="'Next'" :container-class="'pagination'" :page-class="'page-item'" :page-link-class="'page-link'"
          :prev-class="'page-link'" :next-class="'page-link'">
        </paginate>
      </div>
    </div>
  </div>
</div>