

{% extends 'backend/tour_operator/base.html' %}
{% load static %}
{% block backendcontent %}
<div class="row max-width-admin">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">FAQ</h4>
        <p class="card-category font-weight-light text-light-grey">Making the most of your listing on Your African Safari</p>
      </div>
      <div class="card-body">
        <div class="tab-content">
            <div class="card"> 
              <div class="card-body">
                <div class="accordions" id="accordion">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a class="pr-3" data-target="#collapseOne" href="#" data-toggle="collapse" class="collapsed" aria-expanded="false">How can I get more traffic to my pages on YAS?<b class="caret"></b>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="card-collapse collapse">
                      <div class="card-body">
                        <div class="row">                        
                          <div class="col-md-12">
                            <p>Be as active, and frequent, as you can with your listing on YAS. This means:</p>
                             <div class="pb-2 ml-3">
                              <div class="d-inline">
                                <label class="form-check-label"></label>
                                <input class="form-check-input" type="checkbox" value="">    
                                <p class="d-inline">Encourage your clients to review you. This is the biggest boost to traffic.
                                </p>                           
                              </div>                             
                            </div>                               
                            <div class="pb-2 ml-3">
                              <div class="d-inline">
                                <label class="form-check-label"></label>
                                <input class="form-check-input" type="checkbox" value="">    
                                <p class="d-inline">Ensure all your contact details are up and accurate.
                                </p>                           
                              </div>                             
                            </div> 
                            <div class="pb-2 ml-3">
                              <div class="d-inline">
                                <label class="form-check-label"></label>
                                <input class="form-check-input" type="checkbox" value="">    
                                <p class="d-inline">Put the YAS widget on your website—it encourages people to review you.
                                </p>                           
                              </div>                             
                            </div> 
                            <div class="pb-2 ml-3">
                              <div class="d-inline">
                                <label class="form-check-label"></label>
                                <input class="form-check-input" type="checkbox" value="">    
                                <p class="d-inline">Aim to add or update one itinerary each week.
                                </p>                           
                              </div>                             
                            </div> 
                            <div class="pb-2 ml-3">
                              <div class="d-inline">
                                <label class="form-check-label"></label>
                                <input class="form-check-input" type="checkbox" value="">    
                                <p class="d-inline">Ensure itinerary pricing is updated at least once a year.
                                </p>                           
                              </div>                             
                            </div> 
                            <div class="pb-2 ml-3">
                              <div class="d-inline">
                                <label class="form-check-label"></label>
                                <input class="form-check-input" type="checkbox" value="">    
                                <p class="d-inline">Upload photos on a regular basis—be sure to tag them and to include a caption.
                                </p>                           
                              </div>                             
                            </div> 
                            <div class="pb-2 ml-3">
                              <div class="d-inline">
                                <label class="form-check-label"></label>
                                <input class="form-check-input" type="checkbox" value="">    
                                <p class="d-inline">Write as many park reviews as possible. Tour operators can review the parks in which they operate, and this is a great way to showcase your knowledge on the park and to get more content for your listing. Again, we recommend you spread out your reviews so you’ve a constant presence on our home page.
                                </p>                           
                              </div>                             
                            </div> 
                            <div class="pb-2 ml-3">
                              <div class="d-inline">
                                <label class="form-check-label"></label>
                                <input class="form-check-input" type="checkbox" value="">    
                                <p class="d-inline">Contribute to a blog post! YAS actively writes and promotes pieces on tour operators who give back and we’d love to highlight your efforts. 
                                </p>                           
                              </div>                             
                            </div>                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a class="pr-3" data-target="#collapseTwo" href="#" data-toggle="collapse">How does the YAScore work?<b class="caret"></b>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="card-collapse collapse">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <p>The YAScore is a complex algorithm that weighs several factors. You will have multiple YAScores. This calculation is done for each country separately based on the number and quality of the reviews that visited that country.
                              For example: If you have five reviews, but only three of the reviews were for the country: Tanzania, then your YAScore for Tanzania is calculated using those three reviews.
                              This new system prevents a single tour operator from dominating all the tour operator pages. As we continue to refine and improve our scoring, your YAScore may change.
                             </p>
                             <p class="mb-1 mt-3">Other items factored in to your YAScore.</p>
                             <p class="my-1">• How often do you update your entry</p>
                             <p class="my-1">• How quickly you log in to see quote requests</p>
                             <p class="my-1">• How many itineraries you have and how often you update/add them</p>
                             <p class="my-1">• The number and quality of your client AND park reviews</p>
                             <p class="mb-1 mt-3">Items that positively impact your YAScore</p>
                             <p class="my-1">• If you have a blog</p>
                             <p class="my-1">• If you’ve contributed to an article</p>
                             <p class="my-1">• If you have a YAS widget</p>
                             <p class="my-1">• If you’ve a vehicle description</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a class="pr-3" data-target="#collapseThree" href="#" data-toggle="collapse" class="collapsed" aria-expanded="false">Client reviews<b class="caret"></b>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="card-collapse collapse">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <p>Ask clients to review you when they’re still with you in Africa. It’s easier to ask in person and this gives them to compose their thoughts and find good photos.<br>
                              Try to space out client reviews—one every month is adequate and more effective than four in one week.<br>
                              Don’t write client reviews for them or make up reviews. Companies that have false reviews run the risk of being removed from YAS.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a class="pr-3" data-target="#collapseFour" href="#" data-toggle="collapse" class="collapsed" aria-expanded="false">Company profile<b class="caret"></b>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="card-collapse collapse">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <p>Highlight what makes you unique.<br>
                              Detailed descriptions, and photos, of vehicles used have proven more effective at engaging users.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a class="pr-3" data-target="#collapseFive" href="#" data-toggle="collapse" class="collapsed" aria-expanded="false">YAS widget<b class="caret"></b>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFive" class="card-collapse collapse">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <p>A variety of options are provided to suit all needs. If you’ve more than five reviews, we recommend the widget that lists your total number. If you’ve less, we recommend promoting the average star rating. Until you have a review, we recommend using the YAS widget with our logo to alert clients you are listed with us and that they can review you.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a class="pr-3" data-target="#collapseSix" href="#" data-toggle="collapse" class="collapsed" aria-expanded="false">Itineraries<b class="caret"></b>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseSix" class="card-collapse collapse">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <p>Try to add a mixture of itineraries with different lengths, countries and parks.<br>
                              <strong>Run spellcheck</strong> on itineraries before posting! Even one typo deters most people from asking for pricing.<br>
                              Post itineraries for less-visited parks to stand out.<br>
                              Don’t write in all caps.<br>
                              Use our itinerary management service if you’d rather we handled your content.<br>
                              Update pricing at least annually.<br>
                              Aim to add one itinerary each week.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a class="pr-3" data-target="#collapseSeven" href="#" data-toggle="collapse" class="collapsed" aria-expanded="false">Photos<b class="caret"></b>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseSeven" class="card-collapse collapse">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <p>Ensure every photo has a short caption.<br>
                              Tag all photos.<br>
                              Only upload photos you own. YAS is not responsible for any legal action that may ensue, otherwise.<br>
                              Try to upload some photos each month.<br>
                              If you want to stand out, upload photos for parks or animals that have a low number of photos.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">
                        <a class="pr-3" data-target="#collapseEight" href="#" data-toggle="collapse" class="collapsed" aria-expanded="false">Park reviews<b class="caret"></b>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseEight" class="card-collapse collapse">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <p>As a tour operator, you can write a review for every park you visit. It must be your own words, not copied from another site.<br>
                              Try to write one park review per month.<br>
                              Focus on parks that have less reviews first, to have more visibility on YAS.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header border-bottom-0">
                      <h4 class="card-title">
                        <a class="pr-3" data-target="#collapseNine" href="#" data-toggle="collapse" class="collapsed" aria-expanded="false">YAS blog posts and articles<b class="caret"></b>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseNine" class="card-collapse collapse">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <p>Have news you want to share with YAS members? Are park fees changing? Plastic bag bans going into effect? Any news that impacts safari tourism that you’d like to cover, let us know. We’ll work with you on it, credit you and promote it.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>                    
        </div>
      </div>
    </div>
  </div> 
</div>

{% endblock %}
