<link rel="canonical" href="https://www.yourafricansafari.com/{{ object.slug }}/" />
<meta name="keywords" content="{{ object.meta_keywords }}">
<meta property="og:description" content="Safari in {{ object }}? See which tour operators can be found in {{ object }}. Learn what time of year is best to visit {{ object }} for safari. See what activities you can do in {{ object }} after your safari." />
<meta name="twitter:description" content="Safari in {{ object }}? See which tour operators can be found in {{ object }}. Learn what time of year is best to visit {{ object }} for safari. See what activities you can do in {{ object }} af...">
<meta property="og:title" content="{{ object.title }}" />
<meta name="twitter:title" content="{{ object.title }}">
