<div id="currency-pop" class="d-none exchange-table">
    <div class="popover-heading">
        <div class="text-left pl-3 pt-2 pb-1 bg-army-green pr-3">
            <h5 class="text-white">{{ currency.name }} Currency exchange
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h5>
        </div>
    </div>

    <div class="popover-body">
        <div class="w-75 border border-success bg-light mb-0">

            <script type="text/javascript"
                    src="//www.exchangeratewidget.com/converter.php?l=en&amp;f=USD&amp;t=BWP,USD,EUR,GBP,CAD,AUD,AED&amp;a=1&amp;d=F0F0F0&amp;n=FFFFFF&amp;o=000000&amp;v=5"></script>
        </div>

    </div>
</div>