{% if object.image_header %}
<div class="hero-container">    
        <div class="hero-text-container">
            {% if object.header_caption_link %}
                <a alt="{{ object.header_alt }}" target='_blank' class="text-dark-grey hero-text" href="{{ object.header_caption_link }}">
                    {{ object.header_caption }}
                </a>
            {% else %}
                <a alt="{{ object.header_alt }}" href="#" class="text-dark-grey hero-text disabled no-hover" role="button" aria-disabled="true" tabindex="-1">
                    {{ object.header_caption }}
                </a>
            {% endif %}
        </div>
        <div class="hero-image-container">  
          <img src="{{ object.image_header.url }}" alt="...">      
      </div>   
  </div>
{% endif %}