{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}?v=1.6" />
<link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}" />
<link href="{% static 'operators/css/tour-operator-widget.css' %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}

<div class="widget_container">
    <div class="tour_operator_name"><a href="#" onclick="return false;">{{ tour_operator }}</a></div>
    <div class="review_stars">
        <div class="stars_symbol"><a href="#" onclick="return false;">{{ tour_operator.average_rating|default_if_none:0 | star_rating | safe }}</a></div>
        <div class="stars_text"><a href="#" onclick="return false;">{{ tour_operator.reviews_count|default_if_none:0 }} review{{tour_operator.reviews_count|pluralize }}</a></div>
    </div>
    <div class="logo">
        <a href="#" onclick="return false;">    
            <img src="{% static 'core/img/logo_color.png' %}" alt="Your African Safari Logo">
        </a>
    </div>
</div>
